<form (submit)="checkCredentials()">
  <label>
    Usuario:
    <input type="text" [(ngModel)]="usuario" name="username">
  </label>
  <br>
  <label>
    Contraseña:
    <input type="password" [(ngModel)]="loginPassword" name="password">
  </label>
  <br>
  <button type="submit">Iniciar sesión</button>
</form>

<div *ngIf="isLoggedIn">
  Bienvenido!
</div>
<div *ngIf="!isLoggedIn">
  Credenciales incorrectas
</div>


<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Edad</th>
    <th>Mayor de edad</th>
  </tr>
  <tr *ngFor="let persona of personas">
    <td>{{ persona.nombre }}</td>
    <td>{{ persona.apellidos }}</td>
    <td>{{ persona.edad }}</td>
    <td *ngIf="persona.edad >= 18; else menorDeEdad">Sí</td>
    <ng-template #menorDeEdad>No</ng-template>
  </tr>
</table>


